#########
[DEFAULT]
#########

NUM_COLUMNS         = 4

ROTARY_STEPS_REV    = 200
ROTARY_MICROS       = 8
ROTARY_MOTOR_CURR   = 2
ROTARY_HOME_DIR     = rev
ROTARY_ENCODE_PIN   = TX
ROTARY_NUM_PORTS    = 8
ROTARY_PORT_1       = BLEACH
ROTARY_PORT_2       = WASH
ROTARY_PORT_3       = ELUTION

PUMP_STEPS_REV      = 200
PUMP_MICROS         = 4
PUMP_MOTOR_CURR     = 6
PUMP_VOL_REV        = 0.042
PUMP_TIME_UNIT      = m

BUS                 = 3
ROTARY_ADDR         = 0x10
VALVES_ADDR_IN      = 0x20
VALVES_ADDR_WASTE   = 0x21
PUMP_ADDR_START     = 0x30
FRAC_ADDR           = 0x40

INIT_IN_STATES      = 0
INIT_WASTE_STATES   = 0

#####
[1mL]
#####

FLOWRATE            = 1
FRAC_MOTOR_CURR     = 5
FRAC_HOME_DIR       = fwd
POSITION_SAFE       = -35900

VOLUME_FRAC         = 1
NUM_FRACTIONS       = 10
POSITION_FRAC1      = -34400
OFFSET_FRACTIONS    = 2200

VOLUME_FLWTHRU      = 10
NUM_FLWTHRU         = 4
POSITION_FLWTHRU1   = -12000
OFFSET_FLWTHRU      = 3500

#####
[5mL]
#####

FLOWRATE            = 5
FRAC_MOTOR_CURR     = 5
FRAC_HOME_DIR       = fwd
POSITION_SAFE       = -35900

VOLUME_FRAC         = 5
NUM_FRACTIONS       = 10
POSITION_FRAC1      = -34400
OFFSET_FRACTIONS    = 2200

VOLUME_FLWTHRU      = 50
NUM_FLWTHRU         = 4
POSITION_FLWTHRU1   = -12000
OFFSET_FLWTHRU      = 3500
