[loggers]
keys=root

[handlers]
keys=server

[formatters]
keys=PureFormatter

[logger_root]
level=DEBUG
handlers=server

[handler_server]
class=logging.handlers.TimedRotatingFileHandler
args=('/home/pi/ProteinPurifier/logs/server.log','d',1,3)
formatter=PureFormatter
level=INFO

[formatter_PureFormatter]
format=%(asctime)s - %(levelname)s - %(message)s [%(name)s]
