#########
[DEFAULT]
#########

NUM_COLUMNS         = 4

SELECT_STEPS_REV    = 200
SELECT_MICROS       = 2
SELECT_MOTOR_CURR   = 2
SELECT_HOME_FWD     = True
SELECT_ENCODE_PIN   = TX
SELECT_PORTS        = 8
SELECT_1            = BLEACH
SELECT_2            = WASH
SELECT_3            = ELUTION

PUMP_STEPS_REV      = 200
PUMP_MICROS         = 2
PUMP_MOTOR_CURR     = 2
PUMP_VOL_REV        = 0.042
PUMP_TIME_UNIT      = m

BUS                 = 1
SELECT_ADDR         = 0x10
VALVES_ADDR_IN      = 0x20
VALVES_ADDR_WASTE   = 0x21
PUMP_ADDR_START     = 0x30
FRAC_ADDR           = 0x40

#####
[1ML]
#####

FLOWRATE            = 1
FRAC_MOTOR_CURR     = 2

VOLUME_FRAC         = 1
NUM_FRACTIONS       = 10
POSITION_FRAC1      = 55
OFFSET_FRACTIONS    = 12

VOLUME_FLWTHRU      = 10
NUM_FLWTHRU         = 4
POSITION_FLWTHRU    = 310
OFFSET_FLWTHRU      = 45

#####
[5ML]
#####

FLOWRATE            = 1
FRAC_MOTOR_CURR     = 2

VOLUME_FRAC         = 5
NUM_FRACTIONS       = 10
POSITION_FRAC1      = 55
OFFSET_FRACTIONS    = 12

VOLUME_FLWTHRU      = 10
NUM_FLWTHRU         = 4
POSITION_FLWTHRU1   = 310
OFFSET_FLWTHRU      = 45
